@import "tailwindcss";

:root {
  background-color: #050505;
  color: #ffffff;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Premium Dark Grey Background */
body {
  background-color: #171717;
  /* Neutral 900 base */
  background-image: radial-gradient(circle at 50% 0%, #262626, #171717);
  /* Lighter top spotlight */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #db871e;
  /* Ochre 500 */
}